*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.page-third{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}
.text-top h1{
    font-family: Arial, Helvetica, sans-serif;
    width: 477px;
    height: 56px;
    padding: 16px 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
